.card {
	position: relative;

	img {
		width: 100%;
		display: block;
		border: 6px solid #fff;
		border-radius: 5%;
		cursor: pointer;
	}

	.front {
		transform: rotateY(90deg);
		transition: all ease-in 0.2s;
		position: absolute;
	}

	.back {
		transition: all ease-in 0.2s;
		transition-delay: 0.1s;
		&:hover {
			transform: scale(1.1);
			// border: 6px solid #c23866;
		}
	}

	.flipped {
		.front {
			transform: rotateY(0deg);
			transition-delay: 0.2s;
		}

		.back {
			transform: rotateY(90deg);
			transition-delay: 0s;
		}
	}
}
